@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: -50px 0 0 0;
}

#__next {
  margin-top: 0;
}

::selection {
  background: rgb(235, 235, 235);
}
